{% extends  'customer/section/main.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
<style>
    body {
        background: rgb(63, 176, 43);
        background: linear-gradient(90deg, rgba(63, 176, 43, 1) 0%, rgba(41, 187, 159, 1) 50%, rgba(19, 170, 185, 1) 100%);
        font-family: 'Open Sans', sans-serif;
    }

    .container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 400px;
        max-width: 100%;
        margin-top: 20px !important;
        margin-bottom: 30px !important;
        height: 100%;
    }

    .login-link {
        text-decoration: none;
        transition: 0.3s ease-in-out;
        border-bottom: 2px solid white;
    }

    .login-link:hover {
        color: grey;
        border-bottom: 2px solid lightslategrey;
    }

    .link-error {
        color: red;
        font-size: 12px;
    }
</style>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="header">
    <h2>Login</h2>
</div>
<form id="form" action="{% url 'login' %}" method="POST" class="form">
    {% csrf_token %}
    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
    </div>
    <div class="form-control">
        <label>Don't Have An Account? <a href="{% url 'register' %}" class="login-link">Register</a></label>
        <p class="link-error">
            {% for message in messages %}
            {{message}}
            {%endfor%}
        </p>
    </div>
    <button type="submit" value="submit">Submit</button>
</form>
{% endblock %}
{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}