{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage</title>
</head>

<body>
    <nav>
        <div class="nav-image">
            <a href="{% url 'home'%}"><img src="{% static 'images/logo.png'%}" alt="Auction Logo"></a>
        </div>
        <div class="nav-links">
            <div class="nav-link">
                <ul>
                    <li><a href="{% url 'home'%}" class="active">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Exclusive</a></li>
                    <li><a href="#">Coupons</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-cart">
                <a href="#"><img src="{% static 'images/cart.png'%}" alt="Cart Image"></a>
                <span class="cart-value">1</span>
            </div>
        </div>


    </nav>
    <div class="container">
        <div class="cards">
            <div class="card">
                <div class="card-image">
                    <a href="#"><img src="{% static 'images/test.jpg'%}" alt="" srcset=""></a>
                </div>
                <div class="card-details">
                    <span class="bid-info">BID OPEN!</span>
                    <a href="#">BID NOW</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <a href="#"><img src="{% static 'images/test.jpg'%}" alt="" srcset=""></a>
                </div>
                <div class="card-details">
                    <span class="bid-info">BID OPEN!</span>
                    <a href="#">BID NOW</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <a href="#"><img src="{% static 'images/test.jpg'%}" alt="" srcset=""></a>
                </div>
                <div class="card-details">
                    <span class="bid-info">BID OPEN!</span>
                    <a href="#">BID NOW</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <a href="#"><img src="{% static 'images/test.jpg'%}" alt="" srcset=""></a>
                </div>
                <div class="card-details">
                    <span class="bid-info">BID OPEN!</span>
                    <a href="#">BID NOW</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <a href="#"><img src="{% static 'images/test.jpg'%}" alt="" srcset=""></a>
                </div>
                <div class="card-details">
                    <span class="bid-info">BID OPEN!</span>
                    <a href="#">BID NOW</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>

</html>