{% extends  'customer/section/main.html'%}
{% load static %}
{% block title %}{{request.user.username}} | Profile{% endblock %}
{%block css%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{%endblock%}
{% block content %}
<div class="details">
    <div class="top-bar">
        <div class="profile-picture">
            <form {%if currentUser%} action="{%url 'editPhoto' customer.id %}" {%else%} action="#"
                {%endif%}method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <label for="profile-update"><img class="image" src="{{customer.imageURL}}"
                        alt="{{customer.user.username}}'s profile picture" srcset="{{customer.imageURL}}"></label>
                {%if currentUser%}
                <input type="file" id="profile-update" name="image" accept="image/*" onchange="form.submit()" hidden />
                {%endif%}
            </form>
        </div>

        <div class="top-info">
            <h2>{{customer.name}}</h2>
            <div class="edit-info">
                {%if currentUser%}
                <a href="{% url 'editUser' customer.id %}" class="edit-profile">Edit Profile</a>
                {%if shipping.edit == True%}
                <a href="{% url 'editShipping' customer.id %}" class="edit-profile">Edit Shipping Info</a>
                {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
    <div class="middle-bar">
        <span>Email : {{customer.email}}</span>
        <span>Account Status : {%if customer.active == True%}Active{% else %}Inactive{%endif%}</span>
    </div>
    <div class="shipping-info">
        <span>Shipping info</span>
        <div class="shipping-info-details">
            <div class="indiv-detail">
                <h4>Address</h4>
                <span>{{shipping.address}}</span>
            </div>
            <div class="indiv-detail">
                <h4>City</h4>
                <span>{{shipping.city}}</span>
            </div>
            <div class="indiv-detail">
                <h4>State</h4>
                <span>{{shipping.state}}</span>
            </div>
            <div class="indiv-detail">
                <h4>Zipcode</h4>
                <span>{{shipping.zipcode}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}