{% extends  'customer/section/main.html'%}
{% load static %}
{% block title %}{{product.title}} | Auction{% endblock %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/product.css' %}">{% endblock%}
{% block content %}
<div class="product-view">
    <div class="product-img">
        <img src="{{product.image.url}}" alt="Product Image" />
    </div>
    <div class="product-desc">
        <h1>{{product.title}}</h1>
        <div class="standard-info">
            <span class="post-date">Posted {{product.date_created|timesince}} ago</span>
            <div class="time-remaining">
                <p id="countdown"></p> Left
            </div>
            {% if product.status == True %}
            <div class="status-open">
                Bid Open!
            </div>
            {%else%}
            <div class="status-closed">
                Bid Closed!
            </div>
            {%endif%}
        </div>
        <div class="more-info">
            <span>{{product.description}}</span>
        </div>
        <div class="bidding-section">
            <div class="bid-price">
                <span>Start Price : Rs. {{product.start_bid}}</span>
            </div>
            <form action="{% url 'placeBid' product.slug %}" method="post" class="bidding-form">
                {%csrf_token%}
                <input type="number" name="bidamount" class="bidding-input" required />
                <button type="submit" value="submit" class="bidding-button">Bid</button>
            </form>
            <div class="all-info">
                <a href="{% url 'completeProduct' product.slug%}">Product Detail</a>
            </div>
        </div>
        <div class="other-info">
            <a href="{% url 'bidderInfo' product.slug%}" class="current-btn">Current Bids</a>
            {% if data == True%}
            <a href="{% url 'addWishlist' product.slug %}" class="wishlist-btn-add">Add to Wishlist</a>
            {%else%}
            <a href="{% url 'removeWishlist' product.slug %}" class="wishlist-btn-remove">Remove from Wishlist</a>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const
        csrftoken = getToken('csrftoken');
</script>
<script>
    var startdate = new Date('{{product.valid_time|date:"F d Y"}}').getTime();

    var x = setInterval(function () {
        var enddate = new Date().getTime();
        var distance = startdate - enddate;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if (distance < 0) {
            var url = '/adminpanel/product/closebid/'
            fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'slug': '{{product.slug}}',
                    })
                })
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    location.reload()
                });
        }

        document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " +
            seconds + "s";

    }, 1000);
</script>
{%endblock%}