{% extends  'customer/section/main.html'%}
{% load static %}
{% block title %}{{product.title}} | Auction{% endblock %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/product.css' %}">{% endblock%}
{% block content %}
<div class="product-view">
    <div class="product-img">
        <img src="{{product.image.url}}" alt="Product Image" />
    </div>
    <div class="product-desc">
        <h1>{{product.title}}</h1>
        <div class="standard-info">
            <span class="post-date">Posted {{product.date_created|timesince}} ago</span>
            {% if product.status == True %}
            <div class="status-open">
                Bid Open!
            </div>
            {%else%}
            <div class="status-closed">
                Bid Closed!
            </div>
            {%endif%}
        </div>
        <div class="more-info">
            <span>{{product.description}}</span>
        </div>
        <div class="bidding-section">
            <div class="bid-price">
                <span>Start Price : Rs. {{product.start_bid}}</span>
            </div>
            <form action="#" method="post" class="bidding-form">
                {%csrf_token%}
                <input type="number" class="bidding-input" required />
                <button type="submit" value="submit" class="bidding-button">Bid</button>
            </form>
            <div class="all-info">
                <a href="{% url 'completeProduct' product.slug%}">Product Detail</a>
            </div>
        </div>


    </div>

</div>
{% endblock %}