* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* NAV BAR */
nav {
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    height: 15vh;
    width: 100%;
    z-index: 5;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
}

.nav-links li>a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    border: 1px solid black;
}

.nav-links li .active {
    color: grey;
    border: none;
    cursor: default;
}

.nav-links li:hover .active {
    color: grey;
    border: none;
}

.nav-links li>a:hover,
.nav-links li>a:focus {
    color: grey;
    border: 1px solid white;
}

.nav-cart {
    margin-left: 20px;
    position: relative;
    transition: 0.2s ease-in;
}

.nav-cart:hover,
.nav-cart:focus {
    transform: scale(0.9);
}

.nav-cart span {
    color: white;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    padding: 1px 6px;
}

.nav-image img {
    width: 200px;
}

.nav-image {
    transition: 0.2s ease-in;
}

.nav-image:hover,
.nav-image:focus {
    transform: scale(0.9);
}

.nav-cart img {
    width: 50px;
}

/* CONTENT SECTION */
.container {
    height: 85vh;
    width: 90%;
    margin: 0 auto;
    /* background-color: red; */
}

.container .cards {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .cards .card {
    margin: 10px;
    width: 380px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;

}

.card-image img {
    width: 100%;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.card-details>a {
    border: 1px solid black;
    background-color: #4CAF50;
    border-radius: 5px;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.card-details>a:hover {
    color: white;
    border: 1px solid white;
    background-color: grey;
    transform: scale(0.95);
}

/* FORM */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.bid-closed {
    color: white !important;
    border: 1px solid white !important;
    background-color: grey !important;
    transform: scale(0.95) !important;
}