{% load static%}
<nav>
    <div class="logo">
        <span>ADMIN</span>
    </div>
    <div class="nav-link">
        <ul>
            <li><a href="{% url 'adminIndex' %}" {% if  index %}class="active" {%endif%}>Home</a></li>
            <li><a href="{% url 'adminProducts' %}" {% if  products %}class="active" {%endif%}>Products</a></li>
            <li><a href="{% url 'adminCoupons' %}" {% if  coupons %}class="active" {%endif%}>Coupons</a></li>
            <li><a href="{% url 'adminUsers' %}" {% if  users %}class="active" {%endif%}>Users</a></li>
        </ul>
    </div>
    <div class="button-logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

</nav>