{% extends  'adminpanel/section/main.html'%}
{% load static %}
{% block css%}
<style>
    body {
        background: linear-gradient(45deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
    }

    .container {
        margin: 20px;
        border: none;
    }

    table {
        margin: 20px 0px;
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }

    thead th {
        background-color: #55608f;
    }

    tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    tbody td {
        position: relative;
        text-align: center;
    }

    tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }

    .btn-disabled,
    .btn {
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        padding: 5px;
        margin: 2px;
    }

    .btn {
        color: red;
        transition: 0.1s ease-in-out;
    }

    .btn:focus,
    .btn:hover {
        outline: none;
        transform: scale(1.2);

    }

    .create-product {
        text-decoration: none;
        color: white;
        transition: 0.2s ease-in-out;
    }

    .create-product:hover {
        color: maroon;
    }

    .prod-title {
        text-decoration: none;
        color: white;
        transition: 0.2s ease-in-out;
    }

    .prod-title:hover {
        color: rgb(17, 17, 14);
    }
</style>
{% endblock%}
{% block title %}Products | Admin{% endblock %}
{% block content %}
<h1><a href="{% url 'createProduct' %}" class="create-product">Products</a></h1>
<br>
<h3>All</h3>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Bid</th>
            <th>Image</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Seller</th>
            <th>Condition</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if allProd%}
        {% for prod in allProd %}
        <tr>
            <td><a href="{% url 'editProduct' prod.id %}" class='prod-title'>{{prod.title}}</a></td>
            <td>{{prod.start_bid}} <br>Max:{{prod.max_bid}}
            </td>
            {% if prod.image or prod.image == '' %}
            <td>True</td>
            {%else%}
            <td>False</td>
            {%endif%}
            {% if prod.status == True %}
            <td style="color:darkgreen; font-weight: 700;">{{prod.status}}</td>
            {%else%}
            <td style="color:red;font-weight: 700;">{{prod.status}}</td>
            {%endif%}

            <td>{{prod.date_created | timesince }}</td>
            <td>{{prod.seller}}</td>
            <td>{{prod.condition}}</td>
            <td>{{prod.quantity}}</td>
            <td><button class="btn" onclick="if (confirm('Are you sure you want to delete Product of id {{prod.id}}?')) {
                   window.location.href='{% url 'deleteProd' prod.id %}' }">Delete</button></td>
        </tr>
        {%endfor%}
        {%endif%}
    </tbody>
</table>
{% endblock %}