{% load static%}
<nav>
    <div class="nav-image">
        <a href="{% url 'home'%}"><img src="{% static 'images/logo.png'%}" alt="Auction Logo"></a>
    </div>
    <div class="nav-links">
        <div class="nav-link">
            <ul>
                <li><a href="{% url 'home' %}" {% if  index %}class="active" {%endif%}>Home</a></li>
                {% if user.is_authenticated%}
                <li><a href="{% url 'wishlist' %}" {% if  wishlist %}class="active" {%endif%}>Wishlist</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'profile' request.user %}" {% if  profile %}class="active" {%endif%}>Profile</a>
                </li>
                {%else%}
                <li><a href="{% url 'login' %}" {% if  login %}class="active" {%endif%}>Login/Register</a></li>
                {%endif%}
                {% if request.user.customer.admin == True %}
                <li><a href="{% url 'adminSelect' %}" {% if  route %}class="active" {%endif%}>Route</a></li>
                {%endif%}
            </ul>
        </div>
        <div class=" nav-cart">
            <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png'%}" alt="Cart Image"></a>
            <span class="cart-value">1</span>
        </div>
    </div>
</nav>